*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.cabeçalho {
    background-color: #E2FDFF;
    color: #026873;
    display: flex;
    justify-content: space-around;
}

.cabeçalho-imagem {
    width: 11%;
}

.cabeçalho-lista-item {
    color:#026873;
    display: inline-block;
    margin: 50px 16px;
    padding: 6px;
    font-size:medium;
    background-color: transparent;
    border: 2px solid #026873;
    border-radius: 20px;
    text-decoration: none;
}

.imagem-viagem  {
    width: 25%;
}

.tela-fundo{
    background-image: linear-gradient(#E2FDFF, #03989E);
}

.bonVoyage {
    color: #026873;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:medium;
}

.bonVoyage-div-conteudo {
    width: 35%;
}

.bonVoyage-titulo {
    padding: 15px 0;
}

.rodape {
    background-color: #012E40;
    text-align: center;
}

.rodape-imagem {
    height: 60px;
    width: 60px;
    padding: 12px 0;
}

.rodape__texto {
    font-size: 10px;
    display: block;
    color: #E2FDFF;
    text-decoration: none;
}

.lista__link {
    font-size: 10px;
    display: inline-block;
    margin: 20px 7px;
    padding: 6px;
    text-decoration: none;
    color: #E2FDFF;
}

.bonVoyage-titulo-destinos {
    padding: 15px 0;
    font-size: xx-large;
    display: block;
    text-align: center;
}

.bonVoyage-div-destinos{
    display: flex;
    flex-direction: column;
}
.destinos__botao {
background-color:transparent;
border: 2px solid #012E40;
border-radius: 20px;
color: #012E40;
text-decoration: none;
margin: 50px 16px;
padding: 20px;
display: flex;
flex-direction:column
}
.foto-destinos-botao {
    width: 30%;
}
.texto-destinos {
    display: flex;
    flex-direction: row;
}